body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:sans-serif;
    text-align:center;
}

#court{
    width:320px;
    height:450px;
    background:#d68b47;
    margin:20px auto;
    border-radius:20px;
    position:relative;
}

#goal{
    position:absolute;
    top:30px;
    left:125px;
    font-size:70px;
}

#ball{
    position:absolute;
    bottom:20px;
    left:130px;
    font-size:60px;
    cursor:pointer;
}

#score{
    font-size:32px;
    margin-top:20px;
}
